.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  border: 1px solid blue;
}

.TodoApp {
  border: 3px solid green;
}

.TodoForm {
  border: 3px solid red;
}

.TodoList {
  border: 3px solid orange;
}

.TodoItem {
  border: 3px solid purple;
}

.TodoApp {
  margin-top: 25px;
  width: 75%;
  text-align: center;
}
